[Unit]
Description=A program to protect port with iptables by authorizing client on another port
After=iptables.service

[Service]
Type=simple
ExecStart=/usr/bin/port-protection -c /etc/portpro/%i.conf
WorkingDirectory=/etc/portpro

[Install]
WantedBy=multi-user.target
